extends layout
mixin puanOlustur(puan)
 -for (var i=1; i<=puan; i++)
	span.glyphicon.glyphicon-star
 -for (var i= puan; i<5; i++)
	span.glyphicon.glyphicon-star-empty
block content //include ortak_fonksiyonlar/fonksiyonlar
  #banner.page-header
    //satır oluştur
    .row
      .col-lg-6
        //Controller içinde tanımladığımız değişkenleri kullandık
		//Ya eşittir işaretiyle ya da #{} biçiminde
		h1= sayfaBaslik.siteAd
		  small &nbsp;#{sayfaBaslik.aciklama}
  .row
    //mobil uyumlu listeleme
    .col-xs-12.col-sm-12
      //each ifadesi dizide dolaşmayı sağlar.
	  //bir nevi for döngüsü
	  each mekan in mekanlar
       .row.list-group
        .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/')= mekan.ad
             small &nbsp;
             //javascrpit kodu eklemek icin - isareti kullan
			 //for döngüsüyle mekan puanı kadar dolu yıldız
			 //geri kalanlar bos yıldız.
			 +puanOlustur(mekan.puan)
           span.badge.pull-right.badge-default= mekan.mesafe
           p.address= mekan.adres
           p
		    //imkanlar da dizi oldugu icin yine each ile dolastık
			each imkan in mekan.imkanlar
			 span.label.label-warning= imkan
             | &nbsp;            
    .col-xs-12.col-sm-4
  .row
    //mobil uyumlu listeleme
    .col-xs-12.col-sm-12
      //Liste grubu oluştur
      .row.list-group
       //Listeye öğe ekleme. Birden fazla eleman ekliycekseniz
       //aşağıdaki kodu kopyalayın ve yapıştırın
       .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Hot Chicken
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star-empty
             span.glyphicon.glyphicon-star-empty
           span.badge.pull-right.badge-default 10km
           p.address Centrum Garden AVM
           p
              span.label.label-warning Dürüm
              | &nbsp;
              span.label.label-warning Kebap
              | &nbsp;
              span.label.label-warning Ayran Şalgam
              | &nbsp;            
    .col-xs-12.col-sm-4
  .row
    //mobil uyumlu listeleme
    .col-xs-12.col-sm-12
      //Liste grubu oluştur
      .row.list-group
       //Listeye öğe ekleme. Birden fazla eleman ekliycekseniz
       //aşağıdaki kodu kopyalayın ve yapıştırın
       .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Donas
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
           span.badge.pull-right.badge-default 5km
           p.address IyasPark AVM
           p
              span.label.label-warning Donas Tavuk
              | &nbsp;
              span.label.label-warning Donas Et Döner
              | &nbsp;
              span.label.label-warning Kola ve Chips
              | &nbsp;            
    .col-xs-12.col-sm-4
  .row
    //mobil uyumlu listeleme
    .col-xs-12.col-sm-12
      //Liste grubu oluştur
      .row.list-group
       //Listeye öğe ekleme. Birden fazla eleman ekliycekseniz
       //aşağıdaki kodu kopyalayın ve yapıştırın
       .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Kahve Dünyası
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star-empty
           span.badge.pull-right.badge-default 4km
           p.address IyasPark AVM
           p
              span.label.label-warning Mocha
              | &nbsp;
              span.label.label-warning Kekler
              | &nbsp;
              span.label.label-warning Machiaato
              | &nbsp;            
    .col-xs-12.col-sm-4
  .row
    //mobil uyumlu listeleme
    .col-xs-12.col-sm-12
      //Liste grubu oluştur
      .row.list-group
       //Listeye öğe ekleme. Birden fazla eleman ekliycekseniz
       //aşağıdaki kodu kopyalayın ve yapıştırın
       .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Köfteci Yusuf
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
           span.badge.pull-right.badge-default 17km
           p.address Iyaş Park Aile Yaşam
           p
              span.label.label-warning Kasap Köfte
              | &nbsp;
              span.label.label-warning Kangal Sucuk
              | &nbsp;
              span.label.label-warning Acı Sos
              | &nbsp;            
    .col-xs-12.col-sm-4      
	

    